/*All import file go here*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  width: 1200px;
  margin: 0 auto;
  background-color: olivedrab;
}
Img {
  height: 100px;
  width: 100px;
}
/*less-watch-compiler less css marketing-and-about-us.less*/
/* this is to check where we are coding with a red border
lb stands for locate boarder. */
header {
  display: flex;
  max-width: 100%;
  height: 100vh;
  background-color: black;
}
header .attentionImg {
  display: flex;
  width: 40%;
  background-color: black;
}
header .attentionImg img {
  width: 100%;
  height: 100vh;
}
header .attentionGetter {
  display: flex;
  width: 60%;
  flex-direction: column;
  align-items: center;
}
header .attentionGetter .mainLeft {
  width: 55%;
  height: 40vh;
}
header .attentionGetter .mainLeft h1 {
  font-size: 6.5rem;
  text-align: center;
  margin-top: 7vh;
  color: dimgrey;
}
header .attentionGetter .mainLeft img {
  display: block;
  margin: 3vh auto;
}
header .attentionGetter .signUp {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 5%;
  margin-top: 4vh;
  background-color: dimgray;
}
header .attentionGetter .signUp p {
  color: white;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 5vh;
  color: black;
}
header .attentionGetter .signUp button {
  display: block;
  margin: 3%;
  background-color: white;
  color: black;
  width: 100%;
  height: 10vh;
  font-size: 2rem;
  border-radius: 7px;
  text-decoration: none;
}
header .attentionGetter .signUp button:hover {
  background-color: black;
  color: grey;
  text-decoration: none;
}
.introToInfo {
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.introToInfo h2 {
  font-size: 4.55rem;
}
.introToInfo p {
  font-size: 2rem;
}
.moreInfo {
  display: flex;
  flex-wrap: wrap;
}
.moreInfo .pBox {
  display: flex;
  flex-wrap: wrap;
  margin: 3vh 0 3vh 0;
}
.moreInfo .pBox .sentenceBox {
  display: flex;
  flex-direction: column;
  width: 68%;
}
.moreInfo .pBox .sentenceBox h3 {
  font-size: 3.5rem;
  margin-bottom: 3vh;
}
.moreInfo .pBox .sentenceBox p {
  font-size: 2rem;
}
.moreInfo .pBox img {
  width: 30%;
  height: 45vh;
}
